{% extends 'default/index.html' %}
{% load ragnarok %}
{% load special %}
{% load humanize %}
{% block body %}
    <div class="page">
        <section class="character-ranking">
            <!-- Banner -->
            <div class="container">
                <h1>Alfheim.RO – Рейтинг богачей</h1>
            </div>
            <!-- /Banner -->

            <div class="container">
                {% with ZenyRanking as CharacterRanking %}
                    {% if CharacterRanking %}
                        <div class="row">
                            {% for TOP3 in CharacterRanking|slice:":3" %}
                                <div class="col-sm-4">
                                    <div class="feature angled-bg ">
                                        <h3>{{ TOP3.name }} – # {{ forloop.counter }}</h3>
                                        <div class="top-char-info">
                                            <img class="top-char-info_image"
                                                 src="http://chargen.alfheim.ro/avatar/{{ TOP3.name }}"
                                                 alt="Class Image">
                                            <div class="top-char-info_details">
                                                <p>
                                                    <b>Уровень:</b> {{ TOP3.base_level }}/{{ TOP3.job_level }}
                                                </p>
                                                <p>{% get_guild_name TOP3.guild_id %}</p>
                                                <p><b>Zeny:</b> {{ TOP3.zeny | intcomma }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="mt20">
                                <table class="table table-responsive table-striped table-hover">
                                    <thead class="thead-rankings">
                                    <tr>
                                        <th>#</th>
                                        <th>Player</th>
                                        <th>Zeny</th>
                                        <th>Guild</th>
                                    </tr>
                                    </thead>
                                    <tbody class="white-bg">
                                    {% for Char in CharacterRanking|slice:"3:" %}
                                        <tr class="tbody-rankings">
                                            <td>{{ forloop.counter|add:+3 }}</td>
                                            <td>
                                                <div class="char-top-head">
                                                    <img src="http://chargen.alfheim.ro/characterhead/{{ Char.name }}"
                                                         align="left"/>
                                                </div>
                                                <b>{{ Char.name }}</b> <br>{% get_class_name Char.class_field %}
                                                [{{ Char.base_level }}/{{ Char.job_level }}]
                                            </td>
                                            <td>
                                                {{  Char.zeny | intcomma }}
                                            </td>
                                            <td><img
                                                    src="http://chargen.alfheim.ro/emblem/{{ Char.guild_id }}"> {% get_guild_name Char.guild_id %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    {% else %}
                        <div class="row">
                            No players found.
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <!-- /Footer -->
        </section>
    </div>
{% endblock %}
