{% load static %}
{% load i18n %}
<div class="modal animated rubberBand" id="auth-reset-pass-modal" tabindex="-1" role="dialog" aria-labelledby="auth-reset-pass-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 30px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Сброс пароля</h4>
            </div>
            <div class="modal-body">
                {% if ResetForm %}
                    <form action="{% url 'user_password_reset' %}" method="post" name="ResetForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="cols-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-mail-forward" aria-hidden="true"></i></span>
                                    {{ ResetForm.email }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <button class="btn btn-raised btn-info" type="submit">{% trans "Reset password" %}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p>{% trans "Password reset form cannot be shown, please move to" %} <a href="{% url '/' %}">{% trans "Home" %}</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>